[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
"pep8" = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
